<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Tienda Gamer LATAM</title>
    <link rel="icon" href="/img/imgGeneral/logo.png">
</head>

<body>

    <%- include('./partials/header') %>

   <main>
     
    <img src="/img/imgHome/imgprincipal.webp" alt="imagen principal" width="800px" class="imagenPrincipal">
    <h1 class="productosDestacados">Productos destacados:</h1>
    <div class="productos">
        <i class="fa-solid fa-arrow-left-long"></i> 

        <% products.forEach(function(products) { %>
          
      
    <div class="producto1">
         <img src="<%= products.image %>" alt="<%= products.name %>" width="200px">
         <p class= "descripcionDelProducto"> <%= products.name %>
         <p class= "precio"><%= products.price %></p>
         <form method="POST" action="/productos/<%- products.id %>?_method=DELETE">
            <input type="hidden" name="_method" value="delete">
           <button type="submit">
            <a

            class="btn-floating btn-small waves-effect waves-light red"
            ><i class="material-icons">delete</i></a
          >
           </button> 
</form>
    </div>
    <% }); %>
    
    <i class="fa-solid fa-arrow-right-long"></i> 
    </div>
     
       </main>
   
       <%- include('./partials/footer') %>
</body>
</html>