<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Productos</title>
    <link rel="icon" href="/img/imgGeneral/logo.png">
</head>

<body>

    <%- include('./partials/header') %>

<main class="cuadro">

    <div class="catalogo">
            <div class="subcatalogo">
                <h3>Subcatalogo1</h3>
                <ul>
                    <li>otro producto1</li>
                    <li>otro producto2</li>
                    <li>otro producto3</li>
                </ul>
            </div>
            <div class="subcatalogo">
                <h3>Subcatalogo2</h3>
                <ul>
                    <li>otro producto1</li>
                    <li>otro producto2</li>
                    <li>otro producto3</li>
                </ul>
            </div>
            <div class="subcatalogo">
                <h3>Subcatalogo3</h3>
                <ul>
                    <li>otro producto1</li>
                    <li>otro producto2</li>
                    <li>otro producto3</li>
                </ul>
            </div>
    </div>
        
    <br>
    
    <section class="product-list">
        <div class="product-item">
            <% if (product) { %>  
            <img src="<%= product.image %>" alt="<%= product.name %>" width="200px"/>
            <p><%= product.name %></p>
            <strong>$<%= product.price %></strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <% } %>
       
    </section>
    </main>  
    <selection>
        <i class="fa-solid fa-arrow-left-long"></i>
        <i class="fa-solid fa-arrow-right-long"></i>
    </selection>

    <%- include('./partials/footer') %>
    
</body>
</html>